In [1]:
import pandas as pd
import numpy as np
import random as rnd

In [2]:
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier
from sklearn.tree import DecisionTreeClassifier

In [4]:
train_df = pd.read_csv('waste management.csv')
test_df = pd.read_csv('waste management.csv')
combine = [train_df, test_df]

In [5]:
print(train_df.columns.values)

['waste_type' 'material_composition' 'recycling_potential'
 'toxicity_level' 'management_strategy']

In [6]:
train_df.head()

,waste_type,material_composition,recycling_potential,toxicity_level,management_strategy
0,3,0.198716,0.016588,81.011339,0
1,1,0.005522,0.512093,86.707232,0
2,3,0.815461,0.226496,91.324055,0
3,3,0.706857,0.645173,51.134240,0
4,1,0.729007,0.174366,50.151629,0

In [7]:
train_df.tail()

,waste_type,material_composition,recycling_potential,toxicity_level,management_strategy
95,1,0.320780,0.697016,96.119056,0
96,1,0.186519,0.702484,90.535064,0
97,3,0.040775,0.359491,19.579113,0
98,1,0.590893,0.293592,6.936130,0
99,1,0.677564,0.809361,10.077800,1

In [8]:
train_df.info()
print('_'*40)
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   waste_type            100 non-null    int64
 1   material_composition  100 non-null    float64
 2   recycling_potential   100 non-null    float64
 3   toxicity_level        100 non-null    float64
 4   management_strategy   100 non-null    int64
dtypes: float64(3), int64(2)
memory usage: 4.0 KB
________________________________________
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   waste_type            100 non-null    int64
 1   material_composition  100 non-null    float64
 2   recycling_potential   100 non-null    float64
 3   toxicity_level        100 non-null    float64
 4   management_strategy   100 non-null    int64
dtypes: float64(3), int64(2)
memory usage: 4.0 KB

In [9]:
train_df.describe()

,waste_type,material_composition,recycling_potential,toxicity_level,management_strategy
count,100.000000,100.000000,100.000000,100.000000,100.000000
mean,1.980000,0.477581,0.529666,47.812564,0.130000
std,0.803779,0.288436,0.296389,28.515740,0.337998
min,1.000000,0.005522,0.005062,1.439349,0.000000
25%,1.000000,0.239081,0.263387,23.975350,0.000000
50%,2.000000,0.491624,0.569185,50.723933,0.000000
75%,3.000000,0.729157,0.783609,69.747237,0.000000
max,3.000000,0.985650,0.990054,97.585208,1.000000

In [10]:
train_df.describe(include=['O

                           '])

ValueError: No objects to concatenate